.body {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  height: 5%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 15%;

  margin: 3%;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  font-family: "Hanalei Fill", cursive;
  font-size: 125%;
}

.button:hover {
  color: orange;
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}

.input {
  width: 300px;
  height: 30px;
  margin: 20px;
  border: 1;
  border-radius: 0.5rem;
  color: black;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanalei Fill", cursive;
  color: red;
  font-size: 200%;
}
